calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CalculatorService"
targetNamespace="http://example.com/calculator"
xmlns="http://schemas.xmlsoap.org/wsdl/"
xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
xmlns:tns="http://example.com/calculator"
xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- Types de données -->
<types>
<xsd:schema targetNamespace="http://example.com/calculator">
<xsd:element name="CalculatorRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="a" type="xsd:float"/>
<xsd:element name="b" type="xsd:float"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
<xsd:element name="CalculatorResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="result" type="xsd:float"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</types>
<!-- Messages -->
<message name="CalculatorInput">
<part name="parameters" element="tns:CalculatorRequest"/>
</message>
<message name="CalculatorOutput">
<part name="parameters" element="tns:CalculatorResponse"/>
</message>
<!-- Port Type (Interface) -->
<portType name="CalculatorPortType">
<operation name="Add">
<input message="tns:CalculatorInput"/>
<output message="tns:CalculatorOutput"/>
</operation>
<operation name="Subtract">
<input message="tns:CalculatorInput"/>
<output message="tns:CalculatorOutput"/>
</operation>
<operation name="Multiply">
<input message="tns:CalculatorInput"/>
<output message="tns:CalculatorOutput"/>
</operation>
<operation name="Divide">
<input message="tns:CalculatorInput"/>
<output message="tns:CalculatorOutput"/>
</operation>
<operation name="Modulo">
  <input message="tns:CalculatorInput"/>
  <output message="tns:CalculatorOutput"/>
</operation>
</portType>
<!-- Binding -->
<binding name="CalculatorBinding" type="tns:CalculatorPortType">
<soap:binding style="document"
transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="Add">
<soap:operation soapAction="Add"/>
<input><soap:body use="literal"/></input>
<output><soap:body use="literal"/></output>
</operation>
<operation name="Subtract">
<soap:operation soapAction="Subtract"/>
<input><soap:body use="literal"/></input>
<output><soap:body use="literal"/></output>
</operation>
<operation name="Multiply">
<soap:operation soapAction="Multiply"/>
<input><soap:body use="literal"/></input>
<output><soap:body use="literal"/></output>
</operation>
<operation name="Divide">
<soap:operation soapAction="Divide"/>
<input><soap:body use="literal"/></input>
<output><soap:body use="literal"/></output>
</operation>
<operation name="Modulo">
  <soap:operation soapAction="Modulo"/>
  <input><soap:body use="literal"/></input>
  <output><soap:body use="literal"/></output>
</operation>
</binding>
<!-- Service -->
<service name="CalculatorService">
<port name="CalculatorPort" binding="tns:CalculatorBinding">
<soap:address location="http://localhost:8000/calculator"/>
</port>
</service>
</definitions>